name: Zephyr CI

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Check code formatting
        run: |
          sudo apt-get update && sudo apt-get install -y clang-format
          find app/src -name '*.c' -o -name '*.h' | xargs clang-format --dry-run --Werror

      - name: Setup Zephyr project
        uses: zephyrproject-rtos/action-zephyr-setup@v1
        with:
          app-path: app
          toolchains: riscv64-zephyr-elf

      - name: Build
        run: |
          west build -b esp32c3_devkitm app

